@font-face{
  font-family: 'RobotoMono';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  justify-content: center;  
  color: #ffffff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 43, 73));
}

#root{
  width: 80%;
  height: 80%;
}

.fullContainer{
  display: flex;
  height: 90vh;
}